## Assign your Name to variable name and Age to variable age. Make a Python program that prints your name and age.

In [ ]:
name=" "
age=" "
print(" My Name is "+______+ " and I am "+ _____+ " years old"  )

## Split the string

In [ ]:
X="Datascience is used to extract meaningful insights."

## Make a function that gives multiplication of two numbers

## Create a Dictionary of 5 States with their capitals. also print the keys and values.

In [ ]:
# Dict={"State1":"Capital1","State2":"Capital2","State3":"Capital3","State4":"Capital5","State5":"Capital5"}
# Dict.keys()
# Dict.values()

## In this Disctionary grab the word Welcome

In [ ]:
Dict = {'Universe':[1,2,3,{'World':['Earth','India','Delhi',{'value':[1,2,3,'Welcome']}]}]}

## Create a list of 10 numbers using range function.

In [ ]:
# x = list(range(y))
# print(y)

## Create an identity matrix of dimension 4 by 4

## Create 2 similar dimensional array and concatenate them.

## Generate the series of dates from 1st Feb, 2023 to 1st March, 2023 (both inclusive)

## Given a dictionary, convert it into corresponding dataframe and display it
dictionary = {'Brand': ['Maruti', 'Renault', 'Hyndai'], 'Sales' : [250, 200, 240]}