## Write a program that takes your name and age using input() and Print the statement.

## Use len() function to tell the length of a string.
msg=”Datascience helps to understand insight of data”

## Slice the word so that you get "Intelligence".
Word=” Artificial Intelligence”

## Write a function which adds two numbers.

## Write a dictionary with any 3 car brands and their 2 models. Print key and values.

## Create a null vector of size 10.

## Create a list with values ranging from 10 to 49 using arrange().

## Create a 3x3 matrix with values ranging from 0 to 8

## Create a list of 5 elements and convert it into Pandas Series

## Create Pandas Dataframes from Dictionary with any 4 Indian States, their Capital and their Chief Minister.